body {
    width: 1100px;
    background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
    margin: 0 auto;
}

#site_header {
    padding-top: 20px;
}

.logo {
    vertical-align: middle;
}

.logo_text {
    color: white;
    font-size: 2rem;
}

